/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

/* Slideshow de Imagens */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

/* Efeitos do slideshow */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}




