:root{
    --cor-de-fundo:  #242b2f;
    --cor-de-texto: #5a7b2c; 
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Courier New', Courier, monospace;
}

.header-image {
    background-color: var(--cor-de-fundo);
    padding: auto;
    text-align: left;
    height: 25px;
    display: block;
    width: 100%; 
    height: auto;
    margin: 0 auto;
    margin-top: 17px; 
    padding: 0%;
    box-shadow: none;
}

.header-image img {
    width: 100%;
    height: auto;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.texto-sobreposto {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: var(--cor-de-texto);
    padding: 40px;
    text-align: left;
    margin-left: 07%;
}

.texto-sobreposto h1 {
    margin-top: 15px;
    color: var(--cor-de-texto);
}

.texto-sobreposto p {
    margin-bottom: 0;
}

.video-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-container {
    margin: 20px;
    max-width: 560px;
}

.texto{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: right;
    margin-right: 20%;
    margin-top: 0;
}
@media screen and (max-width:768px){
    .conteudo-principal{
        width: 100%;
    }
}

