:root{
    --cor-de-fundo:  #FAF9F6 ;
    --color: #5f8727; 
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--color);
    font-family: 'Courier New', Courier, monospace;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.container img {
    display: block;
    width: 45%;
    height: 15%;
}

.texto-sobreposto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    color: white;
    padding: 20px;
    text-align: center;
}

.texto-sobreposto h2 {
    margin-top: 0;
}

.texto-sobreposto p {
    margin-bottom: 0;
}

