:root{
    --cor-de-fundo: #dbc07c;
}

body{
    background-color: var(--cor-de-fundo);
    color:cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: blueviolet;
}

.abas-texto{
    background-color: var(--cor-de-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}